<div icons>
    <img class="icon" src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg">
    <img class="icon" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg">
    <img class="icon" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
    <img class="icon" src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
    <img class="icon" src="../../../assets/archive_black_24dp.svg">
    <img class="icon" src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg">


</div>