<mat-card class="take-note" fxFlex="noshrink">
    <div  fxLayout="row" fxLayoutAlign="space-between center">
      <mat-card-title>
        <input matInput placeholder="Title">
      </mat-card-title>
      <button> <img
        src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" width="20px" height="20px"></button>
      
   </div>
    <div  fxLayout="row" fxLayoutAlign="space-between center">
      <input class="description" matInput placeholder="Take a note..."  style="width: 400px;"
        >
      <div  fxLayoutAlign="space-between center" fxFlex="noshrink">
        <button > <img src="" width="24px"
            height="24px"></button>
        
      </div>
    </div>

    <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
      
      <button mat-flat-button matTooltip="Create Note">Close</button>
    </mat-card-actions>
  </mat-card>