<!-- <div class="section" fxFlex.xs="100" fxLayout="column" fxLayoutAlign="center" fxLayout.sm="column"> -->
<div class="form" fxFlex="33"  fxFlex.xs="100" fxLayout.xs="row">
  <div fxLayout="column"  fxLayoutAlign="space-evenly center" >
    
    <div class="heading" fxHide.xs>
      <span class="f">F</span>
      <span class="u">u</span>
      <span class="n">n</span>
      <span class="d">d</span>
      <span class="o">o</span>
      <span class="oo">o</span>
    </div>

    <div class="title">
      <p>Sign in</p>

    </div>
    <div class="title1" fxFlex="33"  fxFlex.xs="100">
      <p>Use your Fundoo Account</p>

    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


      <div class="emailorphone" fxFlex="33"  fxFlex.xs="100">

        <mat-form-field appearance="outline">
          <mat-label>Email or phone</mat-label>
          <input type="text" formControlName="email" matInput placeholder="Email or phone">
          <mat-error>Enter an email or phone number</mat-error>
        </mat-form-field>

      </div>

      <div class="forgotemailbutton" fxFlex="33"  fxFlex.xs="100">
        <button class="button" routerLink="/forgot-email" >Forgot email?</button>

      </div>

      <div class="password" fxFlex="33"  fxFlex.xs="100">

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="Password">
          <mat-error>Enter a password</mat-error>
        </mat-form-field>

        <div class="forgotPasswordbutton" fxFlex="33"  fxFlex.xs="100">
          <button class="buttonP">Forgot password?</button>

        </div>



      </div>

      <div class="paragraph" fxFlex="33"  fxFlex.xs="100">
        <p>Not your computer? Use Guest mode to sign in privately.</p>

      </div>

      <div class="learnmorebutton" fxFlex="33"  fxFlex.xs="100">
        <button class="button2">Learn more</button>

      </div>

      <div class="createaccountandnextbutton"fxFlex="33"  fxFlex.xs="100">
        <button class="button3" routerLink="/registration">Create account

        </button>

        <!-- <button fxLayout.xs="row" class="button4"routerLink="/dashboard">Next</button> -->
        <button fxLayout.xs="row" class="button4">Next</button>
       

      </div>
    </form>

    <!-- </div> -->

  </div>
  <!-- </div> -->